<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiz.mapper.SysCompanyMapper">
  <resultMap id="BaseResultMap" type="com.weiz.pojo.SysCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="tax_id" jdbcType="VARCHAR" property="taxId" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="register_time" jdbcType="DATE" property="registerTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
</mapper>